<h2 class="text-center">Cats list</h2>
<div
  infinite-scroll
 (scrolled)="onScrollDown()"
 [infiniteScrollDistance]="1"
>
  <form class="form-wrap d-flex justify-content-center mb-2">
    <div class="form-group mx-2">
      <select
        class="form-control"
        [(ngModel)]="formLimit"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="handlerFormLimitSelect($event)"
      >
        <option
          *ngFor="let limitOption of formLimitOptions"
          [selected]="limitOption === formLimit"
          [value]="limitOption"
        >
          {{ limitOption }}
        </option>
      </select>
    </div>
    <div class="form-group mx-2">
      <select
        class="form-control"
        [(ngModel)]='formOrder'
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="handlerFormOrderSelect($event)"
      >
        <option
          *ngFor="let orderOption of formOrderOptions"
          [selected]="orderOption === formOrder"
          [value]="orderOption"
        >
          {{ orderOption }}
        </option>
      </select>
    </div>
  </form>
  <div *ngIf="isEmptyCatList() === false" class="row">
    <app-cat-card
      class="col-12 col-md-6 col-lg-4 mb-4"
      *ngFor="let catItem of catList$ | async"
      [catCardItem]="catItem"
      [isFavorite]="getIsFavorite(catItem.id)"
      (handlerFavoriteClick)="addCatCardFavorites(catItem)"
    >
    </app-cat-card>
  </div>
  <h4>No cats</h4>
</div>
