<div class="App container">
  <h1 class="text-center">SpringTree task</h1>
  <form class="form-wrap d-flex center">
    <select
      class="form-select"
      [(ngModel)]="formLimit"
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="handlerFormLimitSelect($event)"
    >
      <option
        *ngFor="let limitOption of formLimitOptions"
        [selected]="limitOption === formLimit"
        [value]="limitOption"
      >
        {{ limitOption }}
      </option>
    </select>
    <select
      class="form-select"
      [(ngModel)]='formOrder'
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="handlerFormOrderSelect($event)"
    >
      <option
        *ngFor="let orderOption of formOrderOptions"
        [selected]="orderOption === formOrder"
        [value]="orderOption"
      >
        {{ orderOption }}
      </option>
    </select>
  </form>
  <main>
    <div class="row center">
      <app-cat-card
        class="col d-flex"
        *ngFor="let catItem of catList"
        [catCardItem]="catItem">
      </app-cat-card>
    </div>
    <div class="row center">
      <app-pagination
        [currentPage]="pageNumber"
        (handlerChange)="handlerChangePagination($event)"
      ></app-pagination>
    </div>
  </main>
</div>
