<div class="App container">
  <h1 class="text-center">SpringTree task</h1>
  <ul class="nav d-flex justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Cats list</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/favourites"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Favourites</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/breeds"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >breeds</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/contact-us"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >Contact us</a>
    </li>
  </ul>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
