<div class="pagination row">
  <div
    (click)="handlerButtonPrevPage()"
    class="pagination-prev-page col"
    [class]="{ 'pagination-prev-page--disabled': currentPage < 2 }"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
      <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
    </svg>
  </div>
  <div class="pagination-current-page col">{{currentPage}}</div>
  <div (click)="handlerButtonNextPage()" class="pagination-next-page col">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
      <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
    </svg>
  </div>
</div>
